---
layout: default
title: Python Blog
---

<ul>
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> {% if post.language %}{{ post.language }}, {% endif %}{{ post.date | date: "%d. %m. %Y" }}</li>
{% endfor %}
</ul>

